<footer class="site-footer">
  <div class="copy">
    &copy; {{ site.time | date: "%Y" }} <a href="http://www.tsmithcreative.com/?utm_source=tsmithphotos&utm_medium=website&utm_campaign=tsmithphotos">Taylor Smith</a>.
    <a href="/about">About this site</a>.
  </div>
  <div class="links">
    <ul>
      <li><a href="/feed.xml" class="rss" rel="home" type="application/rss+xml">RSS: TSmithPhotos</a></li>
      <li><a href="https://twitter.com/tsmith512" class="twitter">Twitter</a></li>
      <li><a href="https://linkedin.com/in/tsmith512" class="linkedin">LinkedIn</a></li>
      <li><a href="https://github.com/tsmith512" class="github">GitHub</a></li>
      <li><a href="https://drupal.org/u/tsmith512" class="drupal">Drupal.org</a></li>
      <li><a href="https://www.behance.net/tsmith512" class="behance">Behance</a></li>
      <li><a href="https://500px.com/tsmith512" class="fpx">500px</a></li>
      <li><a href="https://facebook.com/tsmith512" class="facebook">Facebook</a></li>
    </ul>
  </div>
</footer>
