{% assign gallery = page.path | split: '/' | last | split: '.' | first %}

{% comment %}
  Now that album contents are arrays instead of hashes, we have to loop
  through the array to find the image filename in question. :(
{% endcomment %}
{% for testPhoto in site.data.index[gallery].contents %}
  {% if testPhoto.filename == include.src %}
    {% assign photo = testPhoto %}
    {% break %}
  {% endif %}
{% endfor %}


<figure class="photo-block">
  <img src="/photo/medium/{{ gallery }}/{{ include.src }}" />
  <figcaption>
    {% if photo.title %}<span class="title">{{ photo.title }}</span>{% endif %}
    <span class="camera">{{ photo.camera }} with {{ photo.lens }}</span>
    <span class="exposure">ISO{{ photo.iso }} {{ photo.shutter }} @ f/{{ photo.aperture }} {{ photo.focal }}mm</span>
  </figcaption>
</figure>
