/**
 * @file _global.scss
 * Global styles and defaults. Applied immediately after the normalize.
 */

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $archer;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
}

a {
  text-decoration: none;
}

a, a:link {
  color: #3347af;
}

a:hover, a:active {
  color: #3957f1;
}

img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.2s ease-out;

  &[data-src] {
    opacity: 0;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrapper {
  @extend %clearfix;
  max-width: 960px;
  margin: 1rem auto;
}
