/**
 * @file _global.scss
 * Global styles and defaults. Applied immediately after the normalize.
 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Archer SSm A", "Archer SSm B";
}

a { 
  text-decoration: none;
}

a, a:link {
  color: #3347af;
}

img {
  max-width: 100%;
  height: auto;
}

.page-content {
  max-width: calc(800px + 1rem);
  margin: 0 auto;
}
