/**
 * @file _index.scss
 * The overview of all albums on the home page
 */
.index {
  article {
    @extend %clearfix;
    position: relative;
    margin: 0 auto;

    @include breakpoint(max-width ($index-two-column - 1px)) {
      margin-bottom: 2rem;
    }
    @include breakpoint($index-two-column) {
      position: relative;
      width: 600px;
      max-width: 100%;
      float: left;
    }
  }

  .date, .location {
    font-family: $gotham;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .date {
    color: #CCC;

    @include breakpoint(max-width ($index-two-column - 1px)) {
      &:after {
        content: " / ";
        color: #EEE;
      }
    }
  }

  .location {
    color: #666;
  }

  h2 {
    font-family: $tungsten;
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0 0 1rem 0;

    @include breakpoint($index-two-column) {
      margin-bottom: 0;
      a {
        color: #DDD;

        &:hover {
          color: #FFF;
        }
      }
    }
  }

  .meta {
    text-align: center;
    margin: 0 1rem;

    @include breakpoint($index-two-column) {
      position: absolute;
      z-index: 10;
      margin: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0) 85%,rgba(0,0,0,0.4) 100%);

      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      span {
        position: absolute;
        display: block;
        width: calc(100% - 2rem);
        left: 1rem;
        transition: all .2s ease-out;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
        opacity: 0.5;
        font-weight: 400;
      }

      &:hover span {
        opacity: 1;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
      }

      .date {
        top: 1rem;
      }

      .location {
        bottom: 1rem;
      }
    }
  }

  .gallery {
    margin: 0 auto;
    position: relative;
    overflow: hidden; // Since the clearfix relies on messing with :after, which we're using for border tricks

    @include breakpoint(max-width ($index-two-column - 1px)) {
      padding-bottom: 2rem;
      border-bottom: 1px solid #EEE;
    }

    @include breakpoint(max-width ($index-two-column - 1)) {
      &:after {
        content: " ";
        position: absolute;
        border: 20px solid transparent;
        z-index: 2;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        border-top-color: white;
      }
    }

    @include breakpoint($index-two-column) {
      position: relative;
      z-index: 1;
    }

    .hero {
      position: relative;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}
