/**
 * @file _index.scss
 * The overview of all albums on the home page
 */
.index {
  article {
    position: relative;
    overflow: hidden; // @TODO: Real clearfix
    margin: 0 auto;

    background-size: 200%;
    background-position: 0 0;
    background-image: linear-gradient(to right, white 50%, #f8f8f8 50%);
    transition: background 0.2s ease-out;

    &:hover {
      background-color: #f8f8f8; // If background-image is unsupported
      background-position: -100% 0;
      .gallery:after { border-right-color: #f8f8f8; }
    }
  }

  .meta {
    width: calc(560px - 1rem); // 560px is 960px (page width) - 400px (gallery width)
    padding-right: 1rem; // So the background looks correct, since there's a margin-left of 1rem
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    // @TODO: these would be for narrower screens:
    // float: right;
    // margin-left: -100%;
    text-align: center;
  }

  .date, .location {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #FFF;
    letter-spacing: 1px;
  }

  .date {
    color: #CCC;

    &:after {
      content: " / ";
      color: #EEE;
    }
  }

  .location {
    color: #666;
  }

  h2 {
    font-family: "Tungsten Narrow A", "Tungsten Narrow B";
    font-weight: 400; 
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
  }

  .gallery {
    width: 400px;
    overflow: hidden; // @TODO: Get a real clearfix in here
    position: relative;

    &:before, &:after {
      content: " ";
      position: absolute;
      right: 1px;
      border: 20px solid transparent;
    }

    &:before {
      z-index: 1;
      top: calc(50%);
      transform: translateY(-51%);
      border-width: 22px;
      border-right-color: #999;
    }

    &:after {
      z-index: 2;
      top: 50%;
      transform: translateY(-51%);
      border-right-color: white;
      transition: border 0.2s ease-out;
    }

    .hero {
      position: relative;
      float: right;
      width: 200px;
      height: 200px;

      &:after {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border-right: 1px solid #999;
      }

    }

    .preview {
      float: right;
      margin: 0;
      list-style: none;
      height: 200px;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap-reverse;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
    }

    .preview .photo {
      width: 100px;
      height: 100px;
    }

    .photo {
      border: 1px solid transparent;
    }

    img {
      display: block;
    }
  }
}