/**
 * @file _masthead.scss
 * The header area with the title block for pages and posts
 */
.masthead {
  position: relative;
  overflow: hidden; // So the blur doesn't bleed
  width: 100%;
  padding-bottom: 63%;
  margin-bottom: 2rem;

  h1 {
    position: absolute;
    z-index: 10;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    width: 960px;
    max-width: 960px;

    margin: 0 auto;
    text-align: center;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    padding-bottom: 1rem;
    border-bottom: 2px solid #FFF;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  }

  img {
    position: absolute;
    z-index: 1;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  &:after {
    content: " ";
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.9) 100%);
    position: absolute;
    top: 72%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
}
