/**
 * @file _site-header.scss
 * Header banner
 */

.site-header {
  position: absolute;
  z-index: 1000;
  padding: 1em;

  h1 {
    margin: 0;
    font-family: "Tungsten Narrow A", "Tungsten Narrow B";
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;

    a { color: white; opacity: 0.5; }
    a:hover { opacity: 1; }
  }
}