/**
 * @file _site-footer.scss
 * Global site footer
 */
.site-footer {
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem 0;
  border-top: 2px solid black;

  @include breakpoint($masthead-box) {
    margin: 2rem;
    max-width: 960px;
    border-top: 2px solid #ddd;
  }

  @include breakpoint($masthead-banner-full) {
    width: 960px;
    margin: 2rem auto 1rem auto;
  }

  .copy {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
  }
}
