// Pull in other libraries
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "../node_modules/photoswipe/src/css/main.scss";
@import "../node_modules/photoswipe/src/css/default-skin/default-skin.scss";

// Variables
$masthead-box: 420px;
$masthead-banner: 640px;
$masthead-banner-full: 1000px;
$masthead-banner-shorten: 1300px;

$post-two-column: 660px;
$post-meta-two-column: 480px $post-two-column, $masthead-banner-full;

$index-two-column: 860px;

$footer-two-column: $masthead-banner;

$gotham: "Gotham SSm A", "Gotham SSm B", "Century Gothic", Helvetica, Arial, sans-serif;
$archer: "Archer SSm A", "Archer SSm B", Georgia, Times, serif;
$tungsten: "Tungsten Narrow A", "Tungsten Narrow B", "Arial Narrow", Helvetica, Arial, sans-serif;

// Global stuff
@import "normalize";
@import "global";
@import "icon";

// Individual components
@import "site-header";
@import "masthead";
@import "index";
@import "paginator";
@import "post";
@import "page";
@import "photo-block";
@import "photoswipe";
@import "site-footer";
