// Pull in other libraries
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "../node_modules/photoswipe/src/css/main.scss";
@import "../node_modules/photoswipe/src/css/default-skin/default-skin.scss";

// Variables
$masthead-box: 420px;
$masthead-banner: 640px;
$masthead-banner-full: 1000px;
$masthead-banner-shorten: 1300px;

$post-two-column: 660px;
$post-meta-two-column: 480px $post-two-column, $masthead-banner-full;

$index-two-column: 860px;

// Global stuff
@import "normalize";
@import "global";

// Individual components
@import "site-header";
@import "masthead";
@import "index";
@import "post";
@import "photoswipe";
