<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <srcipt src="/js/loadcss.js"></script>
    <script src="/js/cssrelpreload.js"></script>

    {% if page.photoswipe %}
      <script src="/js/photoswipe.js"></script>
      <script src="/js/photoswipe-ui-default.js"></script>
      <script src="/js/photoswipe.tsp.js"></script>
      {% include photoswipe-container.html %}
    {% endif %}
  </body>

</html>
