---
layout: default
photoswipe: true
---

{% comment %} Newlines on the end of files will make the parser think empty posts aren't {% endcomment %}
{% assign test_content = page.content | strip %}

{% assign post_empty = "post-with-copy" %}
{% if test_content == "" %}{% assign post_empty = "post-empty" %}
{% elsif test_content.size < 500 %}{% assign post_empty = "post-short" %}
{% endif %}
{% if page.post_empty %}{% assign post_empty = page.post_empty %}{% endif %}

<div class="post {{ post_empty }}">
  {% assign gallery = page.path | split: '/' | last | split: '.' | first %}

  <article class="post-content">
    <div class="masthead">
      {% comment %}
        @TODO: So apparently the "where" filter doesn't work on custom data
        arrays, though I could write a plugin to do it. Instead, we loop over
        the whole post photo array and pull out the hero when we find it. Sadface.
      {% endcomment %}
      {% for photo in site.data.index[gallery].contents %}
        {% if photo.hero %}
          <img
            src="/photo/medium/{{ gallery }}/{{ photo.filename }}"
            data-big="/photo/original/{{ gallery }}/{{ photo.filename }}"
            class="hero-attach-{% if photo.hero_attachment %}{{ photo.hero_attachment }}{% else %}center{% endif %}"
            width="600" height="{{ photo.height | times: 600 | divided_by: photo.width }}" />
        {% endif %}
      {% endfor %}
      <h1>{{ page.title }}</h1>
    </div>

    <div class="wrapper">
      <section class="copy">
        <header class="post-header">
          <div class="date"><span class="icon icon-calendar-light"></span> {{ page.date | date: "%b %-d, %Y" }}</div>
          <div class="location"><span class="icon icon-globe-light"></span> {{ page.location }}</div>
        </header>

        {{ content }}
      </section>
      <section class="album">
        <ul>
          {% for photo in site.data.index[gallery].contents %}
            <li>
              <a href="/photo/original/{{ gallery }}/{{ photo.filename }}"
                 data-size="{{ photo.width}}x{{ photo.height }}"
                 data-camera="{{ photo.camera }} with {{ photo.lens }}"
                 data-exposure="ISO{{ photo.iso }} {{ photo.shutter }} @ f/{{ photo.aperture }} {{ photo.focal }}mm"
                 >
                {% if forloop.index < 7 %}
                  <img src="/photo/thumb/{{ gallery }}/{{ photo.filename }}" width="200" height="200" alt="{{ photo.title }}" />
                {% else %}
                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/photo/thumb/{{ gallery }}/{{ photo.filename }}" width="200" height="200" alt="{{ photo.title }}" />
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
      <section class="nav">
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </section>
    </div>
  </article>

</div>
