---
layout: default
---
<div class="post">

  <article class="post-content">
    <section class="copy">
      <header class="post-header">
        <h1>{{ page.title }}</h1>
        <div class="date">{{ page.date | date: "%b %-d, %Y" }}</div>
      </header>

      {{ content }}
    </section>
    <section class="album">
      {% assign gallery = page.path | split: '/' | last | split: '.' | first %}
      <ul>
      {% for photo in site.data.index[gallery].contents %}
        <li>
          <a href="/photo/original/{{ gallery }}/{{ photo[0] }}">
            <img src="/photo/thumb/{{ gallery }}/{{ photo[0] }}" />
          </a>
        </li>
      {% endfor %}
      </ul>
    </section>
    <section class="nav">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </section>
  </article>

</div>
